@import "reviews.css";

.image-product-container{
    background: white;
    border: #ddd solid 1px;
}
.main-image{
    text-align: center;
    border-bottom: #ddd solid 1px;
}
.main-image img{
    max-width: 100%;
}
.list-image{
    text-align: center;
}
.list-image img{
    width: 100px;
}
.list-image img.active {
    border: 1px solid blue;
}
.product-container .cart_content a {
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #fe3c00;
    font-size: 14px;
    padding: 12px 18px;
}
.product-container .cart_content a .fa {
    font-size: 18px;
}
.product-container .cart_content a span {
    margin: 0 0 0 5px;
}
.info-product-container label{
    min-width: 100px;
    color: black;
    font-weight: bold;
}
.info-product-container .product-name{
    color: #fe3c00;
}
.info-product-container{
    border-bottom: #ddd solid 1px;
}
