.reviews-container .review-left-block img{
    width: 50px;
    border-radius: 50%;
}
.reviews-container .title{
    font-size: x-large;
}
.review-item img{
    width: 50px;
    border-radius: 50%;
}
